## Private key of the wallet used to deploy and interact with
## the smart contract. This wallet will require ETH
## Testnets
ETH_PKEY_TN=
## Mainnets
ETH_PKEY_MN=
## Infura API key - your Infura API key from https://infura.io/
## used to deploy and interact with the smart contract via
## Infura's Ethereum nodes.
INFURA_PROJECT_ID=

# Alchemy Key - required for Polygon interaction
ALCHEMY_KEY_ETH_MN=
ALCHEMY_KEY_POLY_MN=
ALCHEMY_KEY_ETH_TN=
ALCHEMY_KEY_POLY_TN=

## Etherscan API key - optional, useful for uploading verified
## contract code to Etherscan
ETHERSCAN_API_KEY=

# Pinata credentials for saving Provenance to IPFS
PINATA_API_KEY=
PINATA_SECRET_KEY=
